* {
    margin: 0;
}

.phonebook {
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    color: #262427;
    text-align: center;
    height: 100vh;
}

.phonebook input {
    background-color: rgb(255, 255, 255);
    border: 0px;
    max-width: 150px;
}

.phonebook button {
    background-color: rgb(0, 0, 0);
    color: #e3e3e3;
    border: 0px;
    max-width: 40px;
    align-self: center;
    font-size: 15px;
}

.phonebook > .search {
    align-self: center;
}

.phonebook-dark {
    display: flex;
    flex-direction: column;
    background-color: #190130;
    color: #673786;
    text-align: center;
    height: 100vh;
}

.phonebook-dark input {
    background-color: rgb(183, 125, 218);
    border: 0px;
    max-width: 150px;
}

.phonebook-dark button {
    background-color: rgb(183, 125, 218);
    border: 0px;
    max-width: 40px;
    align-self: center;
    font-size: 15px;
}

.phonebook-dark > .search {
    align-self: center;
}

.entry-name {
    text-transform: uppercase;
    align-self: left;
}

.phonebook-dark .delete-button {
    background-color: rgba(255, 0, 34, 0.459);
    border: 0px;
    font-size: 5px;
    padding-top: 0px;
    font-size: 10px;
    color: black;
}

.phonebook-dark .delete-button:hover {
    background-color: rgba(255, 255, 255, 0.459);
    border: 0px;
    font-size: 5px;
    padding-top: 0px;
    font-size: 10px;
    color: black;
    cursor: pointer;
}

.phonebook .delete-button {
    background-color: rgb(255, 0, 106);
    border: 0px;
    font-size: 5px;
    padding-top: 0px;
    font-size: 10px;
    color: white;
}

.phonebook .delete-button:hover {
    background-color: rgb(0, 0, 0);
    border: 0px;
    font-size: 5px;
    padding-top: 0px;
    font-size: 10px;
    color: white;
    cursor: pointer;
}

.phonebook-dark .edit-button {
    background-color: rgba(0, 47, 255, 0.459);
    border: 0px;
    font-size: 5px;
    padding-top: 0px;
    font-size: 10px;
    color: black;
}

.phonebook-dark .edit-button:hover {
    background-color: rgba(255, 255, 255, 0.459);
    border: 0px;
    font-size: 5px;
    padding-top: 0px;
    font-size: 10px;
    color: black;
    cursor: pointer;
}

.phonebook .edit-button {
    background-color: rgb(0, 162, 255);
    border: 0px;
    font-size: 5px;
    padding-top: 0px;
    font-size: 10px;
    color: white;
}

.phonebook .edit-button:hover {
    background-color: rgb(0, 0, 0);
    border: 0px;
    font-size: 5px;
    padding-top: 0px;
    font-size: 10px;
    color: white;
    cursor: pointer;
}

.numbers {
    margin-top: 50px;
    text-decoration: underline;
}